{% set searchPlayerName = app.request.request.all['search_form']['playerName'] ?? app.request.get('playerName') ?? '' %}

<!-- Side Menu -->
<div class="col-2 pe-1">
    <div class="card card-wrapper">
        <div class="card-body p-0">
            {% if app.request.session.get('currentPlayerName') %}
                <div class="card sub-card current-login-card card-without-footer">
                    <div class="card-header">
                        <div class="avatar-container">
                            <div class="avatar-container-wrap">
                                <img src="https://secure.runescape.com/m=avatar-rs/{{ app.request.session.get('currentPlayerName') }}/chat.png"
                                     alt="{{ app.request.session.get('currentPlayerName') }} avatar"
                                     title="{{ app.request.session.get('currentPlayerName') }} avatar"
                                     class="avatar-img">
                            </div>
                        </div>
                        <p>Current Player</p>
                        <h2>{{ app.request.session.get('currentPlayerName') }}</h2>
                    </div>
                </div>
            {% endif %}
            <div class="list-group overwrite-list-group-border">
                <a href="{{ path('summary') }}"
                   class="side-menu-item-link">
                    <div class="list-group-item list-group-item-action side-menu-item {{ app.request.attributes.get('_route') == 'summary' ? 'active' : '' }}">
                        <div class="d-flex w-100">
                            <i class="fa-solid fa-house side-menu-icon"></i>
                            <span class="side-menu-title ms-4">Summary</span>
                        </div>
                    </div>
                </a>
                <a href="{{ path('activities') }}"
                   class="side-menu-item-link">
                    <div class="list-group-item list-group-item-action side-menu-item {{ app.request.attributes.get('_route') == 'activities' ? 'active' : '' }}">
                        <div class="d-flex w-100">
                            <i class="fa-solid fa-book-open side-menu-icon"></i>
                            <span class="side-menu-title ms-4">Activity</span>
                        </div>
                    </div>
                </a>
                <a href="{{ path('summary') }}"
                   class="side-menu-item-link">
                    <div class="list-group-item list-group-item-action side-menu-item {{ app.request.attributes.get('_route') == 'app_dashboard_drops' ? 'active' : '' }}">
                        <div class="d-flex w-100">
                            <i class="fa-solid fa-coins side-menu-icon"></i>
                            <span class="side-menu-title ms-4">Drops</span>
                        </div>
                    </div>
                </a>
                <a href="{{ path('app_dashboard_levels') }}"
                   class="side-menu-item-link">
                    <div class="list-group-item list-group-item-action side-menu-item {{ app.request.attributes.get('_route') == 'app_dashboard_levels' ? 'active' : '' }}">
                        <div class="d-flex w-100">
                            <i class="fa-solid fa-chart-simple side-menu-icon"></i>
                            <span class="side-menu-title ms-4">&nbsp;Levels</span>
                        </div>
                    </div>
                </a>
                <a href="{{ path('app_dashboard_skill_level_progression') }}"
                   class="side-menu-item-link">
                    <div class="list-group-item list-group-item-action side-menu-item {{ app.request.attributes.get('_route') == 'app_dashboard_skill_level_progression' ? 'active' : '' }}">
                        <div class="d-flex w-100">
                            <i class="fa-solid fa-chart-simple side-menu-icon"></i>
                            <span class="side-menu-title ms-4">&nbsp;Levels - Progress</span>
                        </div>
                    </div>
                </a>
                <a href="{{ path('quests') }}"
                   class="side-menu-item-link">
                    <div class="list-group-item list-group-item-action side-menu-item {{ app.request.attributes.get('_route') == 'quests' ? 'active' : '' }}">
                        <div class="d-flex w-100">
                            <i class="fa-solid fa-book side-menu-icon"></i>
                            <span class="side-menu-title ms-4">&nbsp;Quests</span>
                        </div>
                    </div>
                </a>

                <!-- Buy me a coffee -->
                <a href="https://www.paypal.com/donate/?hosted_button_id=9PHUY4TXNVKUC"
                   target="_blank"
                   class="side-menu-item-link donation-item">
                    <div class="list-group-item list-group-item-action side-menu-item">
                        <div class="d-flex w-100">
                            <i class="fa-solid fa-heart side-menu-icon"></i>
                            <span class="side-menu-title ms-4">Support the project</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
