{% extends 'base.html.twig' %}

{% block title %}Runescape Dashboard - Activities{% endblock %}

{% block body %}
    <div class="container-fluid" {{ stimulus_controller('activities') }}>
        {% include 'includes/header.html.twig' %}

        <!-- Main Section -->
        <div class="row pt-1">
            {% include 'includes/sidemenu.html.twig' %}

            <!-- Summary -->
            <div class="col-10 ps-0 activity-page">
                <button type="button" class="btn btn-custom btn-floating btn-lg" id="btn-back-to-top">
                    <i class="fas fa-arrow-up"></i>
                </button>
                <div class="card card-wrapper">
                    <div class="card-header no-border main-card-header">
                        <h2>ACTIVITY</h2>
                    </div>
                    <div class="card-body main-card">
                        <div class="row g-2">{{ form(filterForm) }}</div>
                        <div class="row">
                            {% for adventureLogItem in activities %}
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-8 p-2 pt-1">
                                        <div class="card sub-card">
                                            <div class="card-header">
                                                <h2>
                                                    {{ make_activity_log_item_image(adventureLogItem)|raw }}
                                                    {% if adventureLogItem.text is not null and adventureLogItem.text is not empty %}
                                                        {% if 'XP' in adventureLogItem.text %}
                                                            {{ adventureLogItem.text|split('XP')|first|number_format }} XP{{ adventureLogItem.text|split('XP')|last|trim('.') }}
                                                        {% else %}
                                                            {{ adventureLogItem.text|trim('.') }}
                                                        {% endif %}
                                                    {% endif %}
                                                </h2>
                                            </div>
                                            <div class="card-body sub-card inner-card">
                                                <div class="list-group">
                                                    <div class="list-group-item list-group-item-action">
                                                        <div class="row align-items-center">
                                                            <div class="col ps-0">
                                                                <div class="d-flex w-100 justify-content-between">
                                                                    <h5 class="mb-0 ps-3 p-2 adventure-log-item-details">
                                                                        {% set matches = adventureLogItem.details|preg_match('/([0-9,]+) experience points? in the (.+) skill\./') %}
                                                                        {% if matches is not empty %}
                                                                            I now have at least {{ matches[1]|number_format }} experience points in the {{ matches[2] }} skill.
                                                                        {% else %}
                                                                            {{ adventureLogItem.details }}
                                                                        {% endif %}
                                                                    </h5>
                                                                    <p class="mb-0 adventure-log-item-time ms-4 p-2">
                                                                        <small>
                                                                            <i class="fa-regular fa-clock"></i>
                                                                            {{ adventureLogItem.date|date('d-M-Y H:i') }}
                                                                        </small>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
