{% extends 'base.html.twig' %}

{% block title %}Runescape Dashboard - Summary{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% include 'includes/header.html.twig' %}

        <!-- Main Section -->
        <div class="row pt-1">
            {% include 'includes/sidemenu.html.twig' %}

            <!-- Summary -->
            <div class="col-10 ps-0">
                <div class="card card-wrapper">
                    <div class="card-body main-card">
                        <div class="row">
                            <!-- Left Col -->
                            <div class="col-4 p2">
                                <!-- Player Info -->
                                <div class="row">
                                    <div class="col-12 p-2">
                                        <div class="card sub-card">
                                            <div class="card-header">
                                                <div class="avatar-container">
                                                    <div class="avatar-container-wrap">
                                                        <img src="https://secure.runescape.com/m=avatar-rs/{{ playerInfo.name }}/chat.png"
                                                             alt="{{ playerInfo.name }} avatar"
                                                             title="{{ playerInfo.name }} avatar"
                                                             class="avatar-img">
                                                    </div>
                                                </div>
                                                <h2>{{ playerInfo.name }}</h2>
                                            </div>
                                            <div class="card-body sub-card inner-card">
                                                <div class="list-group">
                                                    <div class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-0">Time played</h5>
                                                            <p class="mb-0 adventure-log-item-time">
                                                                NaN
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Activity -->
                                <div class="row">
                                    <div class="col-12 p-2">
                                        <div class="card sub-card">
                                            <div class="card-header">
                                                <h2>ACTIVITY</h2>
                                            </div>
                                            <div class="card-body sub-card inner-card">
                                                <div class="list-group">
                                                    {% for adventureLogItem in playerInfo.activities|slice(0,9) %}
                                                        <div class="list-group-item list-group-item-action">
                                                            <div class="row align-items-center">
                                                                <div class="col-auto pe-0">
                                                                    {% set skill = get_skill_name(adventureLogItem.text) %}
                                                                    {% if skill %}
                                                                        <img src="https://runescape.wiki/images/{{ skill }}-icon.png"
                                                                             class="skill-icon"
                                                                             alt="{{ skill }}"
                                                                             title="{{ skill }}">
                                                                    {% elseif 'quest' in adventureLogItem.text|lower %}
                                                                        <img src="https://runescape.wiki/images/Quest.png"
                                                                             class="skill-icon"
                                                                             alt="Quest"
                                                                             title="Quest">
                                                                    {% elseif 'archaeological mystery' in adventureLogItem.text|lower %}
                                                                        <img src="https://runescape.wiki/images/Archaeology_-_Mysteries_achievement_icon.png"
                                                                             class="skill-icon"
                                                                             alt="Archaeology Mystery"
                                                                             title="Archaeology Mystery">
                                                                    {% elseif 'i killed' in adventureLogItem.text|lower %}
                                                                        <img src="https://runescape.wiki/images/Combat_icon_large.png"
                                                                             class="skill-icon"
                                                                             alt="Monstery Kills"
                                                                             title="Monster Kills">
                                                                    {% elseif 'i found a' in adventureLogItem.text|lower %}
                                                                        <img src="https://runescape.wiki/images/{{ make_loot_image(adventureLogItem) }}"
                                                                             class="skill-icon"
                                                                             alt="{{ get_loot_name(adventureLogItem) }}"
                                                                             title="{{ get_loot_name(adventureLogItem) }}">
                                                                    {% else %}
                                                                        <img src="https://runescape.wiki/images/Task_icon.png"
                                                                             class="skill-icon"
                                                                             alt="Achievement"
                                                                             title="Achievement">
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col ps-0">
                                                                    <div class="d-flex w-100 justify-content-between">
                                                                        <h5 class="mb-0">
                                                                            {% if adventureLogItem.text is not null and adventureLogItem.text is not empty %}
                                                                                {% if 'XP' in adventureLogItem.text %}
                                                                                    {{ adventureLogItem.text|split('XP')|first|number_format }} XP{{ adventureLogItem.text|split('XP')|last|trim('.') }}
                                                                                {% elseif 'I am now level' in adventureLogItem.details %}
                                                                                    {{ adventureLogItem.details|trim('.') }}
                                                                                {% else %}
                                                                                    {{ adventureLogItem.text|trim('.') }}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </h5>
                                                                    </div>
                                                                    <p class="mb-0 adventure-log-item-time">
                                                                        <small>
                                                                            <i class="fa-regular fa-clock"></i>
                                                                            {{ adventureLogItem.date|date('d-M-Y H:i') }}
                                                                        </small>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                    <div class="list-group-item list-group-item-action adventure-log-item custom-card-footer">
                                                        <div class="d-flex w-100 justify-content-end">
                                                            <a href="{{ path('app_dashboard_activity') }}"
                                                               class="mb-0 card-footer-link">
                                                                All activity
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Skills -->
                            <div class="col-4 p-2">
                                <div class="card sub-card">
                                    <div class="card-header">
                                        <h2>SKILLS</h2>
                                    </div>
                                    <div class="card-body sub-card inner-card">
                                        <div class="list-group">
                                            <div class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-0">Total Level</h5>
                                                    <p class="mb-0 adventure-log-item-time">
                                                        {{ playerInfo.totalSkill|number_format }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-0">Total XP</h5>
                                                    <p class="mb-0 adventure-log-item-time">
                                                        {{ playerInfo.totalXp|number_format }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-0">Rank</h5>
                                                    <p class="mb-0 adventure-log-item-time">
                                                        {{ playerInfo.rank }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-0">Combat Level</h5>
                                                    <p class="mb-0 adventure-log-item-time">
                                                        {{ playerInfo.combatLevel|number_format }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="list-group-item list-group-item-action skills-container-container">
                                                <div class="d-flex w-100 justify-content-between skills-container">
                                                    {% for skill in playerInfo.skillValues %}
                                                        <div class="skill-icon-container"
                                                             title="{{ skill.id.name }} {{ skill.xp|number_format }} XP">
                                                            <img src="https://runescape.wiki/images/{{ skill.id.name }}-icon.png"
                                                                 class="skill-icon" alt="{{ skill.id.name }}"
                                                                 title="{{ skill.id.name }} {{ skill.xp|number_format }} XP">
                                                            <span title="{{ skill.id.name }} {{ skill.xp|number_format }} XP"
                                                                  class="skill-level">
                                                                {{ skill.level }}
                                                            </span>
                                                            <br>
                                                            <span title="{{ skill.id.name }} {{ skill.xp|number_format }} XP"
                                                                  class="skill-xp mt-1">
                                                                {{ skill.xp|number_format }} XP
                                                            </span>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="list-group-item list-group-item-action adventure-log-item custom-card-footer">
                                                <div class="d-flex w-100 justify-content-end">
                                                    <a href="{{ path('app_dashboard_summary') }}"
                                                       class="mb-0 card-footer-link">
                                                        All levels
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Right Col -->
                            <div class="col-4 p2">
                                <!-- Clan Info -->
                                <div class="row">
                                    {% if playerInfo.clan %}
                                        <div class="col-12 p-2">
                                            <div class="card sub-card">
                                                <div class="card-header clan-card-header">
                                                    <a href="https://services.runescape.com/m=clan-home/clan/{{ playerInfo.clan }}"
                                                       target="_blank">
                                                        <img src="https://secure.runescape.com/m=avatar-rs/{{ playerInfo.name }}/ownclan.png"
                                                             alt="{{ playerInfo.clan }} avatar"
                                                             title="{{ playerInfo.clan }} avatar"
                                                             class="clan-banner">
                                                    </a>
                                                    <br>
                                                    <a href="https://services.runescape.com/m=clan-home/clan/{{ playerInfo.clan }}"
                                                       class="clan-name-link" target="_blank">
                                                        <h2 class="clan-name">{{ playerInfo.clan }}</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- Quests -->
                                <div class="row">
                                    <div class="col-12 p-2">
                                        <div class="card sub-card">
                                            <div class="card-header">
                                                <h2>QUESTS</h2>
                                            </div>
                                            <div class="card-body sub-card inner-card">
                                                <div class="list-group">
                                                    <div class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between quest-chart">
                                                            {{ render_chart(chart) }}
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item list-group-item-action adventure-log-item custom-card-footer">
                                                        <div class="d-flex w-100 justify-content-end">
                                                            <a href="{{ path('app_dashboard_summary') }}"
                                                               class="mb-0 card-footer-link">
                                                                All quests
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
